In [3]:
print("ABC")

ABC

In [6]:
# TO CONNECT it with mysql we have to install some my sql connector

In [7]:
 #without this we are not be able to connect it with my sql

Defaulting to user installation because normal site-packages is not writeable

ERROR: Invalid requirement: '#without': Expected package name at the start of dependency specifier
    #without
    ^

In [8]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\asus\appdata\roaming\python\python312\site-packages (9.4.0)

In [9]:
import mysql.connector as conn

In [11]:
#to make connection>>

In [14]:
help(conn.connect())

Help on MySQLConnection in module mysql.connector.connection object:

class MySQLConnection(mysql.connector.abstracts.MySQLConnectionAbstract)
 |  MySQLConnection(**kwargs: 'Any') -> 'None'
 |
 |  Connection to a MySQL Server
 |
 |  Method resolution order:
 |      MySQLConnection
 |      mysql.connector.abstracts.MySQLConnectionAbstract
 |      abc.ABC
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, **kwargs: 'Any') -> 'None'
 |      Initialize
 |
 |  close(self) -> 'None'
 |      Disconnects from the MySQL server.
 |
 |      This method tries to send a `QUIT` command and close the socket. It raises
 |      no exceptions.
 |
 |      `MySQLConnection.close()` is a synonymous for `MySQLConnection.disconnect()`
 |      method name and more commonly used.
 |
 |      To shut down the connection without sending a `QUIT` command first,
 |      use `shutdown()`.
 |
 |  cmd_change_user(self, username: 'str' = '', password: 'str' = '', database: 'str' = '', charset: 'Optional[int]' = None, password1: 'str' = '', password2: 'str' = '', password3: 'str' = '', oci_config_file: 'str' = '', oci_config_profile: 'str' = '', openid_token_file: 'str' = '') -> 'Optional[OkPacketType]'
 |      Change the current logged in user
 |
 |      This method allows to change the current logged in user information.
 |      The result is a dictionary with OK packet information.
 |
 |      Returns a dict()
 |
 |  cmd_debug(self) -> 'EofPacketType'
 |      Send the DEBUG command
 |
 |      This method sends the DEBUG command to the MySQL server, which
 |      requires the MySQL user to have SUPER privilege. The output will go
 |      to the MySQL server error log and the result of this method is a
 |      dictionary with EOF packet information.
 |
 |      Returns a dict()
 |
 |  cmd_init_db(self, database: 'str') -> 'OkPacketType'
 |      Change the current database
 |
 |      This method changes the current (default) database by sending the
 |      INIT_DB command. The result is a dictionary containing the OK packet
 |      information.
 |
 |      Returns a dict()
 |
 |  cmd_ping(self) -> 'OkPacketType'
 |      Send the PING command
 |
 |      This method sends the PING command to the MySQL server. It is used to
 |      check if the the connection is still valid. The result of this
 |      method is dictionary with OK packet information.
 |
 |      Returns a dict()
 |
 |  cmd_process_kill(self, mysql_pid: 'int') -> 'OkPacketType'
 |      Kill a MySQL process
 |
 |      This method send the PROCESS_KILL command to the server along with
 |      the process ID. The result is a dictionary with the OK packet
 |      information.
 |
 |  cmd_query = wrapper(cnx: 'MySQLConnectionAbstract', *args: Any, **kwargs: Any) -> Any from mysql.connector.opentelemetry.context_propagation.with_context_propagation.<locals>
 |      Context propagation decorator.
 |
 |  cmd_query_iter(self, statements: 'StrOrBytes', **kwargs: 'Any') -> 'Generator[ResultType, None, None]'
 |      Send one or more statements to the MySQL server
 |
 |      Similar to the cmd_query method, but instead returns a generator
 |      object to iterate through results. It sends the statements to the
 |      MySQL server and through the iterator you can get the results.
 |
 |      statement = 'SELECT 1; INSERT INTO t1 VALUES (); SELECT 2'
 |      for result in cnx.cmd_query(statement, iterate=True):
 |          if 'columns' in result:
 |              columns = result['columns']
 |              rows = cnx.get_rows()
 |          else:
 |              # do something useful with INSERT result
 |
 |      Returns a generator.
 |
 |  cmd_quit(self) -> 'bytes'
 |      Close the current connection with the server
 |
 |      This method sends the `QUIT` command to the MySQL server, closing the
 |      current connection. Since there is no response from the MySQL server,
 |      the packet that was sent is returned.
 |
 |      Returns a str()
 |
 |  cmd_refresh(self, options: 'int') -> 'OkPacketType'
 |      Send the Refresh command to the MySQL server.
 |
 |      This method sends the Refresh command to the MySQL server. The options
 |      argument should be a bitwise value using constants.RefreshOption.
 |
 |      Typical usage example:
 |          ```
 |         RefreshOption = mysql.connector.RefreshOption
 |         refresh = RefreshOption.LOG | RefreshOption.INFO
 |         cnx.cmd_refresh(refresh)
 |         ```
 |
 |      Args:
 |          options: Bitmask value constructed using constants from
 |                   the `constants.RefreshOption` class.
 |
 |      Returns:
 |          A dictionary representing the OK packet got as response when executing
 |          the command.
 |
 |      Raises:
 |          ValueError: If an invalid command `refresh options` is provided.
 |          DeprecationWarning: If one of the options is deprecated for the server you
 |                              are connecting to.
 |
 |  cmd_reset_connection(self) -> 'bool'
 |      Resets the session state without re-authenticating
 |
 |      Reset command only works on MySQL server 5.7.3 or later.
 |      The result is True for a successful reset otherwise False.
 |
 |      Returns bool
 |
 |  cmd_shutdown(self, shutdown_type: 'Optional[int]' = None) -> 'None'
 |      Shut down the MySQL Server
 |
 |      This method sends the SHUTDOWN command to the MySQL server.
 |      The `shutdown_type` is not used, and it's kept for backward compatibility.
 |
 |  cmd_statistics(self) -> 'StatsPacketType'
 |      Send the statistics command to the MySQL Server
 |
 |      This method sends the STATISTICS command to the MySQL server. The
 |      result is a dictionary with various statistical information.
 |
 |      Returns a dict()
 |
 |  cmd_stmt_close(self, statement_id: 'int', **kwargs: 'Any') -> 'None'
 |      Deallocate a prepared MySQL statement
 |
 |      This method deallocates the prepared statement using the
 |      statement_id. Note that the MySQL server does not return
 |      anything.
 |
 |  cmd_stmt_execute = wrapper(cnx: 'MySQLConnectionAbstract', *args: Any, **kwargs: Any) -> Any from mysql.connector.opentelemetry.context_propagation.with_context_propagation.<locals>
 |      Context propagation decorator.
 |
 |  cmd_stmt_fetch(self, statement_id: 'int', rows: 'int' = 1, **kwargs: 'Any') -> 'None'
 |      Fetch a MySQL statement Result Set
 |
 |      This method will send the FETCH command to MySQL together with the
 |      given statement id and the number of rows to fetch.
 |
 |  cmd_stmt_prepare(self, statement: 'bytes', **kwargs: 'Any') -> 'Mapping[str, Union[int, List[DescriptionType]]]'
 |      Prepare a MySQL statement
 |
 |      This method will send the PREPARE command to MySQL together with the
 |      given statement.
 |
 |      Returns a dict()
 |
 |  cmd_stmt_reset(self, statement_id: 'int', **kwargs: 'Any') -> 'None'
 |      Reset data for prepared statement sent as long data
 |
 |      The result is a dictionary with OK packet information.
 |
 |      Returns a dict()
 |
 |  cmd_stmt_send_long_data(self, statement_id: 'int', param_id: 'int', data: 'BinaryIO', **kwargs: 'Any') -> 'int'
 |      Send data for a column
 |
 |      This methods send data for a column (for example BLOB) for statement
 |      identified by statement_id. The param_id indicate which parameter
 |      the data belongs too.
 |      The data argument should be a file-like object.
 |
 |      Since MySQL does not send anything back, no error is raised. When
 |      the MySQL server is not reachable, an OperationalError is raised.
 |
 |      cmd_stmt_send_long_data should be called before cmd_stmt_execute.
 |
 |      The total bytes send is returned.
 |
 |      Returns int.
 |
 |  commit(self) -> 'None'
 |      Commit current transaction
 |
 |  consume_results(self) -> 'None'
 |      Consume results
 |
 |  cursor(self, buffered: 'Optional[bool]' = None, raw: 'Optional[bool]' = None, prepared: 'Optional[bool]' = None, cursor_class: 'Optional[Type[MySQLCursor]]' = None, dictionary: 'Optional[bool]' = None, read_timeout: 'Optional[int]' = None, write_timeout: 'Optional[int]' = None) -> 'MySQLCursor'
 |      Instantiates and returns a cursor
 |
 |      By default, MySQLCursor is returned. Depending on the options
 |      while connecting, a buffered and/or raw cursor is instantiated
 |      instead. Also depending upon the cursor options, rows can be
 |      returned as a dictionary or a tuple.
 |
 |      Dictionary based cursors are available with buffered
 |      output but not raw.
 |
 |      It is possible to also give a custom cursor through the
 |      cursor_class parameter, but it needs to be a subclass of
 |      mysql.connector.cursor.MySQLCursor.
 |
 |      Raises ProgrammingError when cursor_class is not a subclass of
 |      MySQLCursor. Raises ValueError when cursor is not available.
 |      Raises InterfaceError when read_timeout or write_timeout is not
 |      a positive integer.
 |
 |      Returns a cursor-object
 |
 |  disconnect = close(self) -> 'None'
 |
 |  get_row(self, binary: 'bool' = False, columns: 'Optional[List[DescriptionType]]' = None, raw: 'Optional[bool]' = None, prep_stmt: 'Optional[CMySQLPrepStmt]' = None, **kwargs: 'Any') -> 'Tuple[Optional[RowType], Optional[EofPacketType]]'
 |      Get the next rows returned by the MySQL server
 |
 |      This method gets one row from the result set after sending, for
 |      example, the query command. The result is a tuple consisting of the
 |      row and the EOF packet.
 |      If no row was available in the result set, the row data will be None.
 |
 |      Returns a tuple.
 |
 |  get_rows(self, count: 'Optional[int]' = None, binary: 'bool' = False, columns: 'Optional[List[DescriptionType]]' = None, raw: 'Optional[bool]' = None, prep_stmt: 'Optional[CMySQLPrepStmt]' = None, **kwargs: 'Any') -> 'Tuple[List[RowType], Optional[EofPacketType]]'
 |      Get all rows returned by the MySQL server
 |
 |      This method gets all rows returned by the MySQL server after sending,
 |      for example, the query command. The result is a tuple consisting of
 |      a list of rows and the EOF packet.
 |
 |      Returns a tuple()
 |
 |  handle_unread_result(self) -> 'None'
 |      Check whether there is an unread result
 |
 |  info_query(self, query: 'str') -> 'Optional[RowType]'
 |      Send a query which only returns 1 row
 |
 |  is_connected(self) -> 'bool'
 |      Reports whether the connection to MySQL Server is available
 |
 |      This method checks whether the connection to MySQL is available.
 |      It is similar to ping(), but unlike the ping()-method, either True
 |      or False is returned and no exception is raised.
 |
 |      Returns True or False.
 |
 |  ping(self, reconnect: 'bool' = False, attempts: 'int' = 1, delay: 'int' = 0) -> 'None'
 |      Check availability of the MySQL server
 |
 |      When reconnect is set to True, one or more attempts are made to try
 |      to reconnect to the MySQL server using the reconnect()-method.
 |
 |      delay is the number of seconds to wait between each retry.
 |
 |      When the connection is not available, an InterfaceError is raised. Use
 |      the is_connected()-method if you just want to check the connection
 |      without raising an error.
 |
 |      Raises InterfaceError on errors.
 |
 |  reset_session(self, user_variables: 'Optional[Dict[str, Any]]' = None, session_variables: 'Optional[Dict[str, Any]]' = None) -> 'None'
 |      Clears the current active session
 |
 |      This method resets the session state, if the MySQL server is 5.7.3
 |      or later active session will be reset without re-authenticating.
 |      For other server versions session will be reset by re-authenticating.
 |
 |      It is possible to provide a sequence of variables and their values to
 |      be set after clearing the session. This is possible for both user
 |      defined variables and session variables.
 |      This method takes two arguments user_variables and session_variables
 |      which are dictionaries.
 |
 |      Raises OperationalError if not connected, InternalError if there are
 |      unread results and InterfaceError on errors.
 |
 |  rollback(self) -> 'None'
 |      Rollback current transaction
 |
 |  set_allow_local_infile_in_path(self, path: 'str') -> 'None'
 |      Set the path that user can upload files.
 |
 |      Args:
 |          path (str): Path that user can upload files.
 |
 |  shutdown(self) -> 'None'
 |      Shut down connection to MySQL Server.
 |
 |      This method closes the socket. It raises no exceptions.
 |
 |      Unlike `disconnect()`, `shutdown()` closes the client connection without
 |      attempting to send a QUIT command to the server first. Thus, it will not
 |      block if the connection is disrupted for some reason such as network failure.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  connection_id
 |      MySQL connection ID
 |
 |  in_transaction
 |      MySQL session has started a transaction
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  database
 |      Get the current database
 |
 |  use_unicode
 |      Gets whether we return string fields as unicode or not.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  __annotations__ = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from mysql.connector.abstracts.MySQLConnectionAbstract:
 |
 |  __enter__(self) -> 'MySQLConnectionAbstract'
 |
 |  __exit__(self, exc_type: 'Type[BaseException]', exc_value: 'BaseException', traceback: 'TracebackType') -> 'None'
 |
 |  config(self, **kwargs: 'Any') -> 'None'
 |      Configures the MySQL Connection.
 |
 |      This method allows you to configure the `MySQLConnection`
 |      instance after it has been instantiated.
 |
 |      Args:
 |          **kwargs: For a complete list of possible arguments, see [1].
 |
 |      Raises:
 |          AttributeError: When provided unsupported connection arguments.
 |          InterfaceError: When the provided connection argument is invalid.
 |
 |      References:
 |          [1]: https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html
 |
 |  connect(self, **kwargs: 'Any') -> 'None'
 |      Connects to the MySQL server.
 |
 |      This method sets up the connection to the MySQL server. If no
 |      arguments are given, it will use the already configured or default
 |      values.
 |
 |      Args:
 |          **kwargs: For a complete list of possible arguments, see [1].
 |
 |      Examples:
 |          ```
 |          >>> cnx = MySQLConnection(user='joe', database='test')
 |          ```
 |
 |      References:
 |          [1]: https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html
 |
 |  get_self(self) -> 'MySQLConnectionAbstract'
 |      Returns self for `weakref.proxy`.
 |
 |      This method is used when the original object is needed when using
 |      `weakref.proxy`.
 |
 |  get_server_info(self) -> 'Optional[str]'
 |      Gets the original MySQL version information.
 |
 |      Returns:
 |          The original MySQL server as text. If not previously connected, it will
 |          return `None`.
 |
 |  get_server_version(self) -> 'Optional[Tuple[int, ...]]'
 |      Gets the MySQL version.
 |
 |      Returns:
 |          The MySQL server version as a tuple. If not previously connected, it will
 |          return `None`.
 |
 |  isset_client_flag(self, flag: 'int') -> 'bool'
 |      Checks if a client flag is set.
 |
 |      Returns:
 |          `True` if the client flag was set, `False` otherwise.
 |
 |  query_attrs_append(self, value: 'Tuple[str, BinaryProtocolType]') -> 'None'
 |      Adds element to the query attributes list on the connector's side.
 |
 |      If an element in the query attributes list already matches
 |      the attribute name provided, the new element will NOT be added.
 |
 |      Args:
 |          value: key-value as a 2-tuple.
 |
 |  query_attrs_clear(self) -> 'None'
 |      Clears query attributes list on the connector's side.
 |
 |  query_attrs_remove(self, name: 'str') -> 'BinaryProtocolType'
 |      Removes element by name from the query attributes list on the connector's side.
 |
 |      If no match, `None` is returned, else the corresponding value is returned.
 |
 |      Args:
 |          name: key name.
 |
 |  reconnect(self, attempts: 'int' = 1, delay: 'int' = 0) -> 'None'
 |      Attempts to reconnect to the MySQL server.
 |
 |      The argument `attempts` should be the number of times a reconnect
 |      is tried. The `delay` argument is the number of seconds to wait between
 |      each retry.
 |
 |      You may want to set the number of attempts higher and use delay when
 |      you expect the MySQL server to be down for maintenance or when you
 |      expect the network to be temporary unavailable.
 |
 |      Args:
 |          attempts: Number of attempts to make when reconnecting.
 |          delay: Use it (defined in seconds) if you want to wait between each retry.
 |
 |      Raises:
 |          InterfaceError: When reconnection fails.
 |
 |  set_charset_collation(self, charset: 'Optional[Union[int, str]]' = None, collation: 'Optional[str]' = None) -> 'None'
 |      Sets the character set and collation for the current connection.
 |
 |      This method sets the character set and collation to be used for
 |      the current connection. The charset argument can be either the
 |      name of a character set as a string, or the numerical equivalent
 |      as defined in constants.CharacterSet.
 |
 |      When the collation is not given, the default will be looked up and
 |      used.
 |
 |      Args:
 |          charset: Can be either the name of a character set, or the numerical
 |                   equivalent as defined in `constants.CharacterSet`.
 |          collation: When collation is `None`, the default collation for the
 |                     character set is used.
 |
 |      Examples:
 |          The following will set the collation for the latin1 character set to
 |          `latin1_general_ci`:
 |          ```
 |          >>> cnx = mysql.connector.connect(user='scott')
 |          >>> cnx.set_charset_collation('latin1', 'latin1_general_ci')
 |          ```
 |
 |  set_client_flags(self, flags: 'Union[int, Sequence[int]]') -> 'int'
 |      Sets the client flags.
 |
 |      The flags-argument can be either an int or a list (or tuple) of
 |      ClientFlag-values. If it is an integer, it will set client_flags
 |      to flags as is.
 |
 |      If flags is a sequence, each item in the sequence sets the flag when the
 |      value is positive or unsets it when negative (see example below).
 |
 |      Args:
 |          flags: A list (or tuple), each flag will be set or unset when it's negative.
 |
 |      Returns:
 |          integer: Client flags.
 |
 |      Raises:
 |          ProgrammingError: When the flags argument is not a set or an integer
 |                            bigger than 0.
 |
 |      Examples:
 |          ```
 |          For example, to unset `LONG_FLAG` and set the `FOUND_ROWS` flags:
 |          >>> from mysql.connector.constants import ClientFlag
 |          >>> cnx.set_client_flags([ClientFlag.FOUND_ROWS, -ClientFlag.LONG_FLAG])
 |          >>> cnx.reconnect()
 |          ```
 |
 |  set_converter_class(self, convclass: 'Optional[Type[MySQLConverter]]') -> 'None'
 |      Sets the converter class to be used.
 |
 |      Args:
 |          convclass: Should be a class overloading methods and members of
 |                     `conversion.MySQLConverter`.
 |
 |  set_login(self, username: 'Optional[str]' = None, password: 'Optional[str]' = None) -> 'None'
 |      Sets login information for MySQL.
 |

In [30]:
mydb = conn.connect(host ="localhost", user= "root", passwd = "Deoghar@baba5")

In [31]:
mydb  #it is a connection string which basically connected to mysql  #now entire connection detail is inside mydb>> this is pointing to mydatabase

In [32]:
#if we want to excecute the  sql query using python , we need to create a cursor

#cursor = cursor is like a pointer which is connecting to my database

In [33]:
cursor = mydb.cursor()  #cursor >> we can give any name to it as it variable

In [34]:
#whenver we want to write any query , then first step is that we have create a cursor

In [35]:
#then we have to write query in execute method

cursor.execute("show databases")  #show databases >> list of all data bses in mysql

In [36]:
#we already executed it but not be able to see the result>>

In [37]:
cursor.fetchall() #it fetch all the query that we have executed earllier

[('ds_sql',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sourav',),
 ('sys',)]

In [38]:
#to create a data base

cursor.execute("create database pysqldb")

In [39]:
cursor.execute("create table pysqldb.pu(studentid INT, firstname VARCHAR(30), lastname VARCHAR(30), regid INT(30), classname VARCHAR(30))")

In [40]:
cursor.execute("use pysqldb")  #because when ever we are  inserting data it should not get confuse in which database it have to enter it

In [41]:
cursor.execute("show tables")

In [42]:
cursor.fetchall()

[('pu',)]

In [45]:
cursor.execute('''insert into pysqldb.pu values(34, "sourav", "kumar", 12, "DS")''')

In [50]:
#now only we not be able to see the data"

#so we have to commit which save the data

mydb.commit()   #whenver we try to insert any data make sure to commit coonection string >> if we don't do it we  will  not be able to see any data 
#inside the table

In [47]:
cursor.execute("select * from pu")

In [48]:
cursor.fetchall()

[(34, 'sourav', 'kumar', 12, 'DS')]

In [1]:
## to upload a data in mysql using python>>

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 8848-02FD

 Directory of C:\Users\ASUS\data science\sql\sqlpy_connection

04-08-2025  23:39    <DIR>          .
04-08-2025  22:37    <DIR>          ..
04-08-2025  21:59    <DIR>          .ipynb_checkpoints
04-08-2025  23:34            44,286 Connection_to_mysql.ipynb
04-08-2025  23:39            11,903 glass.data
               2 File(s)         56,189 bytes
               3 Dir(s)  73,472,667,648 bytes free

In [3]:
#to show the data in csv file >> glass.data>>

In [6]:
import csv
with open("glass.data", "r") as f:
    glass_data = csv.reader(f, delimiter = '\n')
    for i in glass_data:
        print(i)

['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1']
['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1']
['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1']
['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1']
['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1']
['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1']
['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1']
['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1']
['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1']
['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1']
['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1']
['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1']
['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1']
['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1']
['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1']
['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1']
['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1']
['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1']
['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1']
['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1']
['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1']
['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1']
['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1']
['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1']
['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1']
['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1']
['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1']
['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1']
['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1']
['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1']
['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1']
['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1']
['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1']
['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1']
['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1']
['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1']
['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1']
['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1']
['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1']
['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1']
['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1']
['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1']
['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1']
['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1']
['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1']
['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1']
['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1']
['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1']
['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1']
['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1']
['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1']
['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1']
['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1']
['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1']
['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1']
['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1']
['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1']
['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1']
['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1']
['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1']
['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1']
['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1']
['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1']
['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1']
['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1']
['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1']
['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1']
['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1']
['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1']
['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2']
['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2']
['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2']
['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2']
['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2']
['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2']
['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2']
['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2']
['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2']
['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2']
['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2']
['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2']
['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2']
['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2']
['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2']
['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2']
['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2']
['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2']
['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2']
['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2']
['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2']
['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2']
['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2']
['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2']
['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2']
['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2']
['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2']
['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2']
['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2']
['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2']
['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2']
['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2']
['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2']
['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2']
['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2']
['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2']
['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2']
['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2']
['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2']
['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2']
['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2']
['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2']
['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2']
['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2']
['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2']
['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2']
['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2']
['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2']
['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2']
['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2']
['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2']
['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2']
['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2']
['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2']
['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2']
['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2']
['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2']
['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2']
['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2']
['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2']
['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2']
['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2']
['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2']
['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2']
['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2']
['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2']
['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2']
['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2']
['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2']
['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2']
['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2']
['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2']
['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2']
['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2']
['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2']
['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2']
['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3']
['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3']
['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3']
['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3']
['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3']
['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3']
['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3']
['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3']
['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3']
['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3']
['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3']
['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3']
['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3']
['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3']
['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3']
['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3']
['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3']
['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5']
['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5']
['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5']
['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5']
['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5']
['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5']
['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5']
['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5']
['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5']
['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5']
['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5']
['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5']
['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5']
['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6']
['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6']
['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6']
['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6']
['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6']
['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6']
['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6']
['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6']
['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6']
['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7']
['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7']
['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7']
['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7']
['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7']
['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7']
['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7']
['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7']
['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7']
['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7']
['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7']
['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7']
['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7']
['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7']
['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7']
['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7']
['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7']
['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7']
['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7']
['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7']
['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7']
['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7']
['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7']
['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7']
['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7']
['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7']
['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7']
['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7']
['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7']

In [29]:
import csv
with open("glass.data", "r") as f:
    glass_data = csv.reader(f, delimiter = '\n')
    for i in glass_data:
        print(i[0])

1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1
2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1
3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1
4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1
5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1
6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1
7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1
8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1
9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1
10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1
11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1
12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1
13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1
14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1
15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1
16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1
17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1
18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1
19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1
20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1
21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1
22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1
23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1
24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1
25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1
26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1
27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1
28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1
29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1
30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1
31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1
32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1
33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1
34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1
35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1
36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1
37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1
38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1
39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1
40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1
41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1
42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1
43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1
44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1
45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1
46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1
47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1
48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1
49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1
50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1
51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1
52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1
53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1
54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1
55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1
56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1
57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1
58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1
59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1
60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1
61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1
62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1
63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1
64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1
65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1
66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1
67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1
68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1
69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1
70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1
71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2
72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2
73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2
74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2
75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2
76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2
77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2
78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2
79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2
80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2
81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2
82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2
83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2
84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2
85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2
86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2
87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2
88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2
89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2
90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2
91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2
92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2
93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2
94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2
95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2
96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2
97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2
98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2
99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2
100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2
101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2
102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2
103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2
104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2
105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2
106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2
107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2
108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2
109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2
110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2
111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2
112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2
113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2
114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2
115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2
116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2
117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2
118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2
119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2
120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2
121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2
122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2
123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2
124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2
125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2
126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2
127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2
128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2
129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2
130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2
131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2
132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2
133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2
134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2
135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2
136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2
137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2
138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2
139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2
140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2
141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2
142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2
143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2
144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2
145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2
146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2
147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3
148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3
149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3
150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3
151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3
152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3
153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3
154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3
155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3
156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3
157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3
158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3
159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3
160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3
161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3
162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3
163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3
164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5
165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5
166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5
167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5
168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5
169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5
170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5
171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5
172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5
173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5
174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5
175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5
176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5
177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6
178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6
179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6
180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6
181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6
182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6
183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6
184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6
185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6
186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7
187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7
188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7
189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7
190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7
191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7
192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7
193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7
194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7
195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7
196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7
197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7
198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7
199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7
200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7
201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7
202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7
203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7
204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7
205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7
206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7
207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7
208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7
209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7
210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7
211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7
212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7
213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7
214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7

In [7]:
#to load this data in database>>

In [8]:
#first step is we have to create table

#and then by insert command we load data

In [11]:
import mysql.connector as conn

In [13]:
mydb1 = conn.connect(host ="localhost", user= "root", passwd = "Deoghar@baba5")

In [14]:
cursor = mydb1.cursor()

In [15]:
cursor.execute('create table pysqldb.glassdata(col1 INT(10) ,col2 float(10,5),col3 float(10,5) ,col4 float(10,5) , col5 float(10,5),col6 float(10,5) ,clo7 float(10,5) , col8 float(10,5) , col9 float(10,5) , col10 float(10,5) , col11 INT(10)) ')

In [17]:
#firt way to insert the data is to insert each row data one by one 


#or  the other way to  inter data in one go

#for that >>

In [24]:
#first way>>
cursor.execute('insert into pysqldb.glassdata values(1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1)')

In [26]:
mydb1.commit()

In [27]:
#now to load entire data in one go>>

In [35]:
with open('glass.data', 'r') as f:
    glass_data = csv.reader(f, delimiter = '\n')
    for i in glass_data:
        print(type(i[0]))
        print(f"insert into glassdata values ({str(i[0])})")         
        cursor.execute(f"insert into pysqldb.glassdata values({str(i[0])})")           #since pythom always take input as string

<class 'str'>
insert into glassdata values (1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1)
<class 'str'>
insert into glassdata values (2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1)
<class 'str'>
insert into glassdata values (3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1)
<class 'str'>
insert into glassdata values (4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1)
<class 'str'>
insert into glassdata values (5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1)
<class 'str'>
insert into glassdata values (6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1)
<class 'str'>
insert into glassdata values (7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1)
<class 'str'>
insert into glassdata values (8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1)
<class 'str'>
insert into glassdata values (9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1)
<class 'str'>
insert into glassdata values (10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1)
<class 'str'>
insert into glassdata values (11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1)
<class 'str'>
insert into glassdata values (12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1)
<class 'str'>
insert into glassdata values (13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1)
<class 'str'>
insert into glassdata values (14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1)
<class 'str'>
insert into glassdata values (15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1)
<class 'str'>
insert into glassdata values (16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1)
<class 'str'>
insert into glassdata values (17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1)
<class 'str'>
insert into glassdata values (18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1)
<class 'str'>
insert into glassdata values (19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1)
<class 'str'>
insert into glassdata values (20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1)
<class 'str'>
insert into glassdata values (21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1)
<class 'str'>
insert into glassdata values (22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1)
<class 'str'>
insert into glassdata values (23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1)
<class 'str'>
insert into glassdata values (24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1)
<class 'str'>
insert into glassdata values (25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1)
<class 'str'>
insert into glassdata values (26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1)
<class 'str'>
insert into glassdata values (27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1)
<class 'str'>
insert into glassdata values (28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1)
<class 'str'>
insert into glassdata values (29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1)
<class 'str'>
insert into glassdata values (30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1)
<class 'str'>
insert into glassdata values (31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1)
<class 'str'>
insert into glassdata values (32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1)
<class 'str'>
insert into glassdata values (33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1)
<class 'str'>
insert into glassdata values (34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1)
<class 'str'>
insert into glassdata values (35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1)
<class 'str'>
insert into glassdata values (36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1)
<class 'str'>
insert into glassdata values (37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1)
<class 'str'>
insert into glassdata values (38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1)
<class 'str'>
insert into glassdata values (39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1)
<class 'str'>
insert into glassdata values (40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1)
<class 'str'>
insert into glassdata values (41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1)
<class 'str'>
insert into glassdata values (42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1)
<class 'str'>
insert into glassdata values (43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1)
<class 'str'>
insert into glassdata values (44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1)
<class 'str'>
insert into glassdata values (45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1)
<class 'str'>
insert into glassdata values (46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1)
<class 'str'>
insert into glassdata values (47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1)
<class 'str'>
insert into glassdata values (48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1)
<class 'str'>
insert into glassdata values (49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1)
<class 'str'>
insert into glassdata values (50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1)
<class 'str'>
insert into glassdata values (51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1)
<class 'str'>
insert into glassdata values (52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1)
<class 'str'>
insert into glassdata values (53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1)
<class 'str'>
insert into glassdata values (54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1)
<class 'str'>
insert into glassdata values (55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1)
<class 'str'>
insert into glassdata values (56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1)
<class 'str'>
insert into glassdata values (57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1)
<class 'str'>
insert into glassdata values (58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1)
<class 'str'>
insert into glassdata values (59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1)
<class 'str'>
insert into glassdata values (60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1)
<class 'str'>
insert into glassdata values (61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1)
<class 'str'>
insert into glassdata values (62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1)
<class 'str'>
insert into glassdata values (63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1)
<class 'str'>
insert into glassdata values (64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1)
<class 'str'>
insert into glassdata values (65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1)
<class 'str'>
insert into glassdata values (66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1)
<class 'str'>
insert into glassdata values (67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1)
<class 'str'>
insert into glassdata values (68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1)
<class 'str'>
insert into glassdata values (69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1)
<class 'str'>
insert into glassdata values (70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1)
<class 'str'>
insert into glassdata values (71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2)
<class 'str'>
insert into glassdata values (72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2)
<class 'str'>
insert into glassdata values (73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2)
<class 'str'>
insert into glassdata values (74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2)
<class 'str'>
insert into glassdata values (75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2)
<class 'str'>
insert into glassdata values (76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2)
<class 'str'>
insert into glassdata values (77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2)
<class 'str'>
insert into glassdata values (78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2)
<class 'str'>
insert into glassdata values (79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2)
<class 'str'>
insert into glassdata values (80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2)
<class 'str'>
insert into glassdata values (81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2)
<class 'str'>
insert into glassdata values (82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2)
<class 'str'>
insert into glassdata values (83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2)
<class 'str'>
insert into glassdata values (84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2)
<class 'str'>
insert into glassdata values (85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2)
<class 'str'>
insert into glassdata values (86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2)
<class 'str'>
insert into glassdata values (87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2)
<class 'str'>
insert into glassdata values (88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2)
<class 'str'>
insert into glassdata values (89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2)
<class 'str'>
insert into glassdata values (90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2)
<class 'str'>
insert into glassdata values (91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2)
<class 'str'>
insert into glassdata values (92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2)
<class 'str'>
insert into glassdata values (93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2)
<class 'str'>
insert into glassdata values (94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2)
<class 'str'>
insert into glassdata values (95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2)
<class 'str'>
insert into glassdata values (96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2)
<class 'str'>
insert into glassdata values (97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2)
<class 'str'>
insert into glassdata values (98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2)
<class 'str'>
insert into glassdata values (99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2)
<class 'str'>
insert into glassdata values (100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2)
<class 'str'>
insert into glassdata values (101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2)
<class 'str'>
insert into glassdata values (102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2)
<class 'str'>
insert into glassdata values (103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2)
<class 'str'>
insert into glassdata values (104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2)
<class 'str'>
insert into glassdata values (105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2)
<class 'str'>
insert into glassdata values (106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2)
<class 'str'>
insert into glassdata values (107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2)
<class 'str'>
insert into glassdata values (108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2)
<class 'str'>
insert into glassdata values (109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2)
<class 'str'>
insert into glassdata values (110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2)
<class 'str'>
insert into glassdata values (111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2)
<class 'str'>
insert into glassdata values (112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2)
<class 'str'>
insert into glassdata values (113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2)
<class 'str'>
insert into glassdata values (114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2)
<class 'str'>
insert into glassdata values (115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2)
<class 'str'>
insert into glassdata values (116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2)
<class 'str'>
insert into glassdata values (117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2)
<class 'str'>
insert into glassdata values (118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2)
<class 'str'>
insert into glassdata values (119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2)
<class 'str'>
insert into glassdata values (120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2)
<class 'str'>
insert into glassdata values (121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2)
<class 'str'>
insert into glassdata values (122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2)
<class 'str'>
insert into glassdata values (123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2)
<class 'str'>
insert into glassdata values (124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2)
<class 'str'>
insert into glassdata values (125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2)
<class 'str'>
insert into glassdata values (126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2)
<class 'str'>
insert into glassdata values (127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2)
<class 'str'>
insert into glassdata values (128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2)
<class 'str'>
insert into glassdata values (129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2)
<class 'str'>
insert into glassdata values (130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2)
<class 'str'>
insert into glassdata values (131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2)
<class 'str'>
insert into glassdata values (132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2)
<class 'str'>
insert into glassdata values (133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2)
<class 'str'>
insert into glassdata values (134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2)
<class 'str'>
insert into glassdata values (135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2)
<class 'str'>
insert into glassdata values (136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2)
<class 'str'>
insert into glassdata values (137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2)
<class 'str'>
insert into glassdata values (138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2)
<class 'str'>
insert into glassdata values (139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2)
<class 'str'>
insert into glassdata values (140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2)
<class 'str'>
insert into glassdata values (141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2)
<class 'str'>
insert into glassdata values (142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2)
<class 'str'>
insert into glassdata values (143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2)
<class 'str'>
insert into glassdata values (144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2)
<class 'str'>
insert into glassdata values (145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2)
<class 'str'>
insert into glassdata values (146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2)
<class 'str'>
insert into glassdata values (147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3)
<class 'str'>
insert into glassdata values (148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3)
<class 'str'>
insert into glassdata values (149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3)
<class 'str'>
insert into glassdata values (150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3)
<class 'str'>
insert into glassdata values (151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3)
<class 'str'>
insert into glassdata values (152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3)
<class 'str'>
insert into glassdata values (153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3)
<class 'str'>
insert into glassdata values (154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3)
<class 'str'>
insert into glassdata values (155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3)
<class 'str'>
insert into glassdata values (156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3)
<class 'str'>
insert into glassdata values (157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3)
<class 'str'>
insert into glassdata values (158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3)
<class 'str'>
insert into glassdata values (159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3)
<class 'str'>
insert into glassdata values (160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3)
<class 'str'>
insert into glassdata values (161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3)
<class 'str'>
insert into glassdata values (162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3)
<class 'str'>
insert into glassdata values (163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3)
<class 'str'>
insert into glassdata values (164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5)
<class 'str'>
insert into glassdata values (165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5)
<class 'str'>
insert into glassdata values (166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5)
<class 'str'>
insert into glassdata values (167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5)
<class 'str'>
insert into glassdata values (168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5)
<class 'str'>
insert into glassdata values (169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5)
<class 'str'>
insert into glassdata values (170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5)
<class 'str'>
insert into glassdata values (171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5)
<class 'str'>
insert into glassdata values (172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5)
<class 'str'>
insert into glassdata values (173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5)
<class 'str'>
insert into glassdata values (174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5)
<class 'str'>
insert into glassdata values (175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5)
<class 'str'>
insert into glassdata values (176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5)
<class 'str'>
insert into glassdata values (177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6)
<class 'str'>
insert into glassdata values (178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6)
<class 'str'>
insert into glassdata values (179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6)
<class 'str'>
insert into glassdata values (180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6)
<class 'str'>
insert into glassdata values (181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6)
<class 'str'>
insert into glassdata values (182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6)
<class 'str'>
insert into glassdata values (183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6)
<class 'str'>
insert into glassdata values (184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6)
<class 'str'>
insert into glassdata values (185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6)
<class 'str'>
insert into glassdata values (186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7)
<class 'str'>
insert into glassdata values (187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7)
<class 'str'>
insert into glassdata values (188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7)
<class 'str'>
insert into glassdata values (189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7)
<class 'str'>
insert into glassdata values (190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7)
<class 'str'>
insert into glassdata values (191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7)
<class 'str'>
insert into glassdata values (192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7)
<class 'str'>
insert into glassdata values (193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7)
<class 'str'>
insert into glassdata values (194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7)
<class 'str'>
insert into glassdata values (195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7)
<class 'str'>
insert into glassdata values (196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7)
<class 'str'>
insert into glassdata values (197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7)
<class 'str'>
insert into glassdata values (198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7)
<class 'str'>

In [36]:
mydb1.commit()

In [37]:
#now whole data is loded

In [41]:
#to see the data here aslo>>

In [42]:
cursor.execute('select * from pysqldb.glassdata')

In [43]:
cursor.fetchall()

[(1, 1.52101, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (1, 1.52101, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (1, 1.52101, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (1, 1.52101, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (2, 1.51761, 13.89, 3.6, 1.36, 72.73, 0.48, 7.83, 0.0, 0.0, 1),
 (3, 1.51618, 13.53, 3.55, 1.54, 72.99, 0.39, 7.78, 0.0, 0.0, 1),
 (4, 1.51766, 13.21, 3.69, 1.29, 72.61, 0.57, 8.22, 0.0, 0.0, 1),
 (5, 1.51742, 13.27, 3.62, 1.24, 73.08, 0.55, 8.07, 0.0, 0.0, 1),
 (6, 1.51596, 12.79, 3.61, 1.62, 72.97, 0.64, 8.07, 0.0, 0.26, 1),
 (7, 1.51743, 13.3, 3.6, 1.14, 73.09, 0.58, 8.17, 0.0, 0.0, 1),
 (8, 1.51756, 13.15, 3.61, 1.05, 73.24, 0.57, 8.24, 0.0, 0.0, 1),
 (9, 1.51918, 14.04, 3.58, 1.37, 72.08, 0.56, 8.3, 0.0, 0.0, 1),
 (10, 1.51755, 13.0, 3.6, 1.36, 72.99, 0.57, 8.4, 0.0, 0.11, 1),
 (11, 1.51571, 12.72, 3.46, 1.56, 73.2, 0.67, 8.09, 0.0, 0.24, 1),
 (12, 1.51763, 12.8, 3.66, 1.27, 73.01, 0.6, 8.56, 0.0, 0.0, 1),
 (13, 1.51589, 12.88, 3.43, 1.4, 73.28, 0.69, 8.05, 0.0, 0.24, 1),
 (14, 1.51748, 12.86, 3.56, 1.27, 73.21, 0.54, 8.38, 0.0, 0.17, 1),
 (15, 1.51763, 12.61, 3.59, 1.31, 73.29, 0.58, 8.5, 0.0, 0.0, 1),
 (16, 1.51761, 12.81, 3.54, 1.23, 73.24, 0.58, 8.39, 0.0, 0.0, 1),
 (17, 1.51784, 12.68, 3.67, 1.16, 73.11, 0.61, 8.7, 0.0, 0.0, 1),
 (18, 1.52196, 14.36, 3.85, 0.89, 71.36, 0.15, 9.15, 0.0, 0.0, 1),
 (19, 1.51911, 13.9, 3.73, 1.18, 72.12, 0.06, 8.89, 0.0, 0.0, 1),
 (20, 1.51735, 13.02, 3.54, 1.69, 72.73, 0.54, 8.44, 0.0, 0.07, 1),
 (21, 1.5175, 12.82, 3.55, 1.49, 72.75, 0.54, 8.52, 0.0, 0.19, 1),
 (22, 1.51966, 14.77, 3.75, 0.29, 72.02, 0.03, 9.0, 0.0, 0.0, 1),
 (23, 1.51736, 12.78, 3.62, 1.29, 72.79, 0.59, 8.7, 0.0, 0.0, 1),
 (24, 1.51751, 12.81, 3.57, 1.35, 73.02, 0.62, 8.59, 0.0, 0.0, 1),
 (25, 1.5172, 13.38, 3.5, 1.15, 72.85, 0.5, 8.43, 0.0, 0.0, 1),
 (26, 1.51764, 12.98, 3.54, 1.21, 73.0, 0.65, 8.53, 0.0, 0.0, 1),
 (27, 1.51793, 13.21, 3.48, 1.41, 72.64, 0.59, 8.43, 0.0, 0.0, 1),
 (28, 1.51721, 12.87, 3.48, 1.33, 73.04, 0.56, 8.43, 0.0, 0.0, 1),
 (29, 1.51768, 12.56, 3.52, 1.43, 73.15, 0.57, 8.54, 0.0, 0.0, 1),
 (30, 1.51784, 13.08, 3.49, 1.28, 72.86, 0.6, 8.49, 0.0, 0.0, 1),
 (31, 1.51768, 12.65, 3.56, 1.3, 73.08, 0.61, 8.69, 0.0, 0.14, 1),
 (32, 1.51747, 12.84, 3.5, 1.14, 73.27, 0.56, 8.55, 0.0, 0.0, 1),
 (33, 1.51775, 12.85, 3.48, 1.23, 72.97, 0.61, 8.56, 0.09, 0.22, 1),
 (34, 1.51753, 12.57, 3.47, 1.38, 73.39, 0.6, 8.55, 0.0, 0.06, 1),
 (35, 1.51783, 12.69, 3.54, 1.34, 72.95, 0.57, 8.75, 0.0, 0.0, 1),
 (36, 1.51567, 13.29, 3.45, 1.21, 72.74, 0.56, 8.57, 0.0, 0.0, 1),
 (37, 1.51909, 13.89, 3.53, 1.32, 71.81, 0.51, 8.78, 0.11, 0.0, 1),
 (38, 1.51797, 12.74, 3.48, 1.35, 72.96, 0.64, 8.68, 0.0, 0.0, 1),
 (39, 1.52213, 14.21, 3.82, 0.47, 71.77, 0.11, 9.57, 0.0, 0.0, 1),
 (40, 1.52213, 14.21, 3.82, 0.47, 71.77, 0.11, 9.57, 0.0, 0.0, 1),
 (41, 1.51793, 12.79, 3.5, 1.12, 73.03, 0.64, 8.77, 0.0, 0.0, 1),
 (42, 1.51755, 12.71, 3.42, 1.2, 73.2, 0.59, 8.64, 0.0, 0.0, 1),
 (43, 1.51779, 13.21, 3.39, 1.33, 72.76, 0.59, 8.59, 0.0, 0.0, 1),
 (44, 1.5221, 13.73, 3.84, 0.72, 71.76, 0.17, 9.74, 0.0, 0.0, 1),
 (45, 1.51786, 12.73, 3.43, 1.19, 72.95, 0.62, 8.76, 0.0, 0.3, 1),
 (46, 1.519, 13.49, 3.48, 1.35, 71.95, 0.55, 9.0, 0.0, 0.0, 1),
 (47, 1.51869, 13.19, 3.37, 1.18, 72.72, 0.57, 8.83, 0.0, 0.16, 1),
 (48, 1.52667, 13.99, 3.7, 0.71, 71.57, 0.02, 9.82, 0.0, 0.1, 1),
 (49, 1.52223, 13.21, 3.77, 0.79, 71.99, 0.13, 10.02, 0.0, 0.0, 1),
 (50, 1.51898, 13.58, 3.35, 1.23, 72.08, 0.59, 8.91, 0.0, 0.0, 1),
 (51, 1.5232, 13.72, 3.72, 0.51, 71.75, 0.09, 10.06, 0.0, 0.16, 1),
 (52, 1.51926, 13.2, 3.33, 1.28, 72.36, 0.6, 9.14, 0.0, 0.11, 1),
 (53, 1.51808, 13.43, 2.87, 1.19, 72.84, 0.55, 9.03, 0.0, 0.0, 1),
 (54, 1.51837, 13.14, 2.84, 1.28, 72.85, 0.55, 9.07, 0.0, 0.0, 1),
 (55, 1.51778, 13.21, 2.81, 1.29, 72.98, 0.51, 9.02, 0.0, 0.09, 1),
 (56, 1.51769, 12.45, 2.71, 1.29, 73.7, 0.56, 9.06, 0.0, 0.24, 1),
 (57, 1.51215, 12.99, 3.47, 1.12, 72.98, 0.62, 8.35, 0.0, 0.31, 1),
 (58, 1.51824, 12.87, 3.48, 1.29, 72.95, 0.6, 8.43, 0.0, 0.0, 1),
 (59, 1.51754, 13.48, 3.74, 1.17, 72.99, 0.59, 8.03, 0.0, 0.0, 1),
 (60, 1.51754, 13.39, 3.66, 1.19, 72.79, 0.57, 8.27, 0.0, 0.11, 1),
 (61, 1.51905, 13.6, 3.62, 1.11, 72.64, 0.14, 8.76, 0.0, 0.0, 1),
 (62, 1.51977, 13.81, 3.58, 1.32, 71.72, 0.12, 8.67, 0.69, 0.0, 1),
 (63, 1.52172, 13.51, 3.86, 0.88, 71.79, 0.23, 9.54, 0.0, 0.11, 1),
 (64, 1.52227, 14.17, 3.81, 0.78, 71.35, 0.0, 9.69, 0.0, 0.0, 1),
 (65, 1.52172, 13.48, 3.74, 0.9, 72.01, 0.18, 9.61, 0.0, 0.07, 1),
 (66, 1.52099, 13.69, 3.59, 1.12, 71.96, 0.09, 9.4, 0.0, 0.0, 1),
 (67, 1.52152, 13.05, 3.65, 0.87, 72.22, 0.19, 9.85, 0.0, 0.17, 1),
 (68, 1.52152, 13.05, 3.65, 0.87, 72.32, 0.19, 9.85, 0.0, 0.17, 1),
 (69, 1.52152, 13.12, 3.58, 0.9, 72.2, 0.23, 9.82, 0.0, 0.16, 1),
 (70, 1.523, 13.31, 3.58, 0.82, 71.99, 0.12, 10.17, 0.0, 0.03, 1),
 (71, 1.51574, 14.86, 3.67, 1.74, 71.87, 0.16, 7.36, 0.0, 0.12, 2),
 (72, 1.51848, 13.64, 3.87, 1.27, 71.96, 0.54, 8.32, 0.0, 0.32, 2),
 (73, 1.51593, 13.09, 3.59, 1.52, 73.1, 0.67, 7.83, 0.0, 0.0, 2),
 (74, 1.51631, 13.34, 3.57, 1.57, 72.87, 0.61, 7.89, 0.0, 0.0, 2),
 (75, 1.51596, 13.02, 3.56, 1.54, 73.11, 0.72, 7.9, 0.0, 0.0, 2),
 (76, 1.5159, 13.02, 3.58, 1.51, 73.12, 0.69, 7.96, 0.0, 0.0, 2),
 (77, 1.51645, 13.44, 3.61, 1.54, 72.39, 0.66, 8.03, 0.0, 0.0, 2),
 (78, 1.51627, 13.0, 3.58, 1.54, 72.83, 0.61, 8.04, 0.0, 0.0, 2),
 (79, 1.51613, 13.92, 3.52, 1.25, 72.88, 0.37, 7.94, 0.0, 0.14, 2),
 (80, 1.5159, 12.82, 3.52, 1.9, 72.86, 0.69, 7.97, 0.0, 0.0, 2),
 (81, 1.51592, 12.86, 3.52, 2.12, 72.66, 0.69, 7.97, 0.0, 0.0, 2),
 (82, 1.51593, 13.25, 3.45, 1.43, 73.17, 0.61, 7.86, 0.0, 0.0, 2),
 (83, 1.51646, 13.41, 3.55, 1.25, 72.81, 0.68, 8.1, 0.0, 0.0, 2),
 (84, 1.51594, 13.09, 3.52, 1.55, 72.87, 0.68, 8.05, 0.0, 0.09, 2),
 (85, 1.51409, 14.25, 3.09, 2.08, 72.28, 1.1, 7.08, 0.0, 0.0, 2),
 (86, 1.51625, 13.36, 3.58, 1.49, 72.72, 0.45, 8.21, 0.0, 0.0, 2),
 (87, 1.51569, 13.24, 3.49, 1.47, 73.25, 0.38, 8.03, 0.0, 0.0, 2),
 (88, 1.51645, 13.4, 3.49, 1.52, 72.65, 0.67, 8.08, 0.0, 0.1, 2),
 (89, 1.51618, 13.01, 3.5, 1.48, 72.89, 0.6, 8.12, 0.0, 0.0, 2),
 (90, 1.5164, 12.55, 3.48, 1.87, 73.23, 0.63, 8.08, 0.0, 0.09, 2),
 (91, 1.51841, 12.93, 3.74, 1.11, 72.28, 0.64, 8.96, 0.0, 0.22, 2),
 (92, 1.51605, 12.9, 3.44, 1.45, 73.06, 0.44, 8.27, 0.0, 0.0, 2),
 (93, 1.51588, 13.12, 3.41, 1.58, 73.26, 0.07, 8.39, 0.0, 0.19, 2),
 (94, 1.5159, 13.24, 3.34, 1.47, 73.1, 0.39, 8.22, 0.0, 0.0, 2),
 (95, 1.51629, 12.71, 3.33, 1.49, 73.28, 0.67, 8.24, 0.0, 0.0, 2),
 (96, 1.5186, 13.36, 3.43, 1.43, 72.26, 0.51, 8.6, 0.0, 0.0, 2),
 (97, 1.51841, 13.02, 3.62, 1.06, 72.34, 0.64, 9.13, 0.0, 0.15, 2),
 (98, 1.51743, 12.2, 3.25, 1.16, 73.55, 0.62, 8.9, 0.0, 0.24, 2),
 (99, 1.51689, 12.67, 2.88, 1.71, 73.21, 0.73, 8.54, 0.0, 0.0, 2),
 (100, 1.51811, 12.96, 2.96, 1.43, 72.92, 0.6, 8.79, 0.14, 0.0, 2),
 (101, 1.51655, 12.75, 2.85, 1.44, 73.27, 0.57, 8.79, 0.11, 0.22, 2),
 (102, 1.5173, 12.35, 2.72, 1.63, 72.87, 0.7, 9.23, 0.0, 0.0, 2),
 (103, 1.5182, 12.62, 2.76, 0.83, 73.81, 0.35, 9.42, 0.0, 0.2, 2),
 (104, 1.52725, 13.8, 3.15, 0.66, 70.57, 0.08, 11.64, 0.0, 0.0, 2),
 (105, 1.5241, 13.83, 2.9, 1.17, 71.15, 0.08, 10.79, 0.0, 0.0, 2),
 (106, 1.52475, 11.45, 0.0, 1.88, 72.19, 0.81, 13.24, 0.0, 0.34, 2),
 (107, 1.53125, 10.73, 0.0, 2.1, 69.81, 0.58, 13.3, 3.15, 0.28, 2),
 (108, 1.53393, 12.3, 0.0, 1.0, 70.16, 0.12, 16.19, 0.0, 0.24, 2),
 (109, 1.52222, 14.43, 0.0, 1.0, 72.67, 0.1, 11.52, 0.0, 0.08, 2),
 (110, 1.51818, 13.72, 0.0, 0.56, 74.45, 0.0, 10.99, 0.0, 0.0, 2),
 (111, 1.52664, 11.23, 0.0, 0.77, 73.21, 0.0, 14.68, 0.0, 0.0, 2),
 (112, 1.52739, 11.02, 0.0, 0.75, 73.08, 0.0, 14.96, 0.0, 0.0, 2),
 (113, 1.52777, 12.64, 0.0, 0.67, 72.02, 0.06, 14.4, 0.0, 0.0, 2),
 (114, 1.51892, 13.46, 3.83, 1.26, 72.55, 0.57, 8.21, 0.0, 0.14, 2),
 (115, 1.51847, 13.1, 3.97, 1.19, 72.44, 0.6, 8.43, 0.0, 0.0, 2),
 (116, 1.51846, 13.41, 3.89, 1.33, 72.38, 0.51, 8.28, 0.0, 0.0, 2),
 (117, 1.51829, 13.24, 3.9, 1.41, 72.33, 0.55, 8.31, 0.0, 0.1, 2),
 (118, 1.51708, 13.72, 3.68, 1.81, 72.06, 0.64, 7.88, 0.0, 0.0, 2),
 (119, 1.51673, 13.3, 3.64, 1.53, 72.53, 0.65, 8.03, 0.0, 0.29, 2),
 (120, 1.51652, 13.56, 3.57, 1.47, 72.45, 0.64, 7.96, 0.0, 0.0, 2),
 (121, 1.51844, 13.25, 3.76, 1.32, 72.4, 0.58, 8.42, 0.0, 0.0, 2),
 (122, 1.51663, 12.93, 3.54, 1.62, 72.96, 0.64, 8.03, 0.0, 0.21, 2),
 (123, 1.51687, 13.23, 3.54, 1.48, 72.84, 0.56, 8.1, 0.0, 0.0, 2),
 (124, 1.51707, 13.48, 3.48, 1.71, 72.52, 0.62, 7.99, 0.0, 0.0, 2),
 (125, 1.52177, 13.2, 3.68, 1.15, 72.75, 0.54, 8.52, 0.0, 0.0, 2),
 (126, 1.51872, 12.93, 3.66, 1.56, 72.51, 0.58, 8.55, 0.0, 0.12, 2),
 (127, 1.51667, 12.94, 3.61, 1.26, 72.75, 0.56, 8.6, 0.0, 0.0, 2),
 (128, 1.52081, 13.78, 2.28, 1.43, 71.99, 0.49, 9.85, 0.0, 0.17, 2),
 (129, 1.52068, 13.55, 2.09, 1.67, 72.18, 0.53, 9.57, 0.27, 0.17, 2),
 (130, 1.5202, 13.98, 1.35, 1.63, 71.76, 0.39, 10.56, 0.0, 0.18, 2),
 (131, 1.52177, 13.75, 1.01, 1.36, 72.19, 0.33, 11.14, 0.0, 0.0, 2),
 (132, 1.52614, 13.7, 0.0, 1.36, 71.24, 0.19, 13.44, 0.0, 0.1, 2),
 (133, 1.51813, 13.43, 3.98, 1.18, 72.49, 0.58, 8.15, 0.0, 0.0, 2),
 (134, 1.518, 13.71, 3.93, 1.54, 71.81, 0.54, 8.21, 0.0, 0.15, 2),
 (135, 1.51811, 13.33, 3.85, 1.25, 72.78, 0.52, 8.12, 0.0, 0.0, 2),
 (136, 1.51789, 13.19, 3.9, 1.3, 72.33, 0.55, 8.44, 0.0, 0.28, 2),
 (137, 1.51806, 13.0, 3.8, 1.08, 73.07, 0.56, 8.38, 0.0, 0.12, 2),
 (138, 1.51711, 12.89, 3.62, 1.57, 72.96, 0.61, 8.11, 0.0, 0.0, 2),
 (139, 1.51674, 12.79, 3.52, 1.54, 73.36, 0.66, 7.9, 0.0, 0.0, 2),
 (140, 1.51674, 12.87, 3.56, 1.64, 73.14, 0.65, 7.99, 0.0, 0.0, 2),
 (141, 1.5169, 13.33, 3.54, 1.61, 72.54, 0.68, 8.11, 0.0, 0.0, 2),
 (142, 1.51851, 13.2, 3.63, 1.07, 72.83, 0.57, 8.41, 0.09, 0.17, 2),
 (143, 1.51662, 12.85, 3.51, 1.44, 73.01, 0.68, 8.23, 0.06, 0.25, 2),
 (144, 1.51709, 13.0, 3.47, 1.79, 72.72, 0.66, 8.18, 0.0, 0.0, 2),
 (145, 1.5166, 12.99, 3.18, 1.23, 72.97, 0.58, 8.81, 0.0, 0.24, 2),
 (146, 1.51839, 12.85, 3.67, 1.24, 72.57, 0.62, 8.68, 0.0, 0.35, 2),
 (147, 1.51769, 13.65, 3.66, 1.11, 72.77, 0.11, 8.6, 0.0, 0.0, 3),
 (148, 1.5161, 13.33, 3.53, 1.34, 72.67, 0.56, 8.33, 0.0, 0.0, 3),
 (149, 1.5167, 13.24, 3.57, 1.38, 72.7, 0.56, 8.44, 0.0, 0.1, 3),
 (150, 1.51643, 12.16, 3.52, 1.35, 72.89, 0.57, 8.53, 0.0, 0.0, 3),
 (151, 1.51665, 13.14, 3.45, 1.76, 72.48, 0.6, 8.38, 0.0, 0.17, 3),
 (152, 1.52127, 14.32, 3.9, 0.83, 71.5, 0.0, 9.49, 0.0, 0.0, 3),
 (153, 1.51779, 13.64, 3.65, 0.65, 73.0, 0.06, 8.93, 0.0, 0.0, 3),
 (154, 1.5161, 13.42, 3.4, 1.22, 72.69, 0.59, 8.32, 0.0, 0.0, 3),
 (155, 1.51694, 12.86, 3.58, 1.31, 72.61, 0.61, 8.79, 0.0, 0.0, 3),
 (156, 1.51646, 13.04, 3.4, 1.26, 73.01, 0.52, 8.58, 0.0, 0.0, 3),
 (157, 1.51655, 13.41, 3.39, 1.28, 72.64, 0.52, 8.65, 0.0, 0.0, 3),
 (158, 1.52121, 14.03, 3.76, 0.58, 71.79, 0.11, 9.65, 0.0, 0.0, 3),
 (159, 1.51776, 13.53, 3.41, 1.52, 72.04, 0.58, 8.79, 0.0, 0.0, 3),
 (160, 1.51796, 13.5, 3.36, 1.63, 71.94, 0.57, 8.81, 0.0, 0.09, 3),
 (161, 1.51832, 13.33, 3.34, 1.54, 72.14, 0.56, 8.99, 0.0, 0.0, 3),
 (162, 1.51934, 13.64, 3.54, 0.75, 72.65, 0.16, 8.89, 0.15, 0.24, 3),
 (163, 1.52211, 14.19, 3.78, 0.91, 71.36, 0.23, 9.14, 0.0, 0.37, 3),
 (164, 1.51514, 14.01, 2.68, 3.5, 69.89, 1.68, 5.87, 2.2, 0.0, 5),
 (165, 1.51915, 12.73, 1.85, 1.86, 72.69, 0.6, 10.09, 0.0, 0.0, 5),
 (166, 1.52171, 11.56, 1.88, 1.56, 72.86, 0.47, 11.41, 0.0, 0.0, 5),
 (167, 1.52151, 11.03, 1.71, 1.56, 73.44, 0.58, 11.62, 0.0, 0.0, 5),
 (168, 1.51969, 12.64, 0.0, 1.65, 73.75, 0.38, 11.53, 0.0, 0.0, 5),
 (169, 1.51666, 12.86, 0.0, 1.83, 73.88, 0.97, 10.17, 0.0, 0.0, 5),
 (170, 1.51994, 13.27, 0.0, 1.76, 73.03, 0.47, 11.32, 0.0, 0.0, 5),
 (171, 1.52369, 13.44, 0.0, 1.58, 72.22, 0.32, 12.24, 0.0, 0.0, 5),
 (172, 1.51316, 13.02, 0.0, 3.04, 70.48, 6.21, 6.96, 0.0, 0.0, 5),
 (173, 1.51321, 13.0, 0.0, 3.02, 70.7, 6.21, 6.93, 0.0, 0.0, 5),
 (174, 1.52043, 13.38, 0.0, 1.4, 72.25, 0.33, 12.5, 0.0, 0.0, 5),
 (175, 1.52058, 12.85, 1.61, 2.17, 72.18, 0.76, 9.7, 0.24, 0.51, 5),
 (176, 1.52119, 12.97, 0.33, 1.51, 73.39, 0.13, 11.27, 0.0, 0.28, 5),
 (177, 1.51905, 14.0, 2.39, 1.56, 72.37, 0.0, 9.57, 0.0, 0.0, 6),
 (178, 1.51937, 13.79, 2.41, 1.19, 72.76, 0.0, 9.77, 0.0, 0.0, 6),
 (179, 1.51829, 14.46, 2.24, 1.62, 72.38, 0.0, 9.26, 0.0, 0.0, 6),
 (180, 1.51852, 14.09, 2.19, 1.66, 72.67, 0.0, 9.32, 0.0, 0.0, 6),
 (181, 1.51299, 14.4, 1.74, 1.54, 74.55, 0.0, 7.59, 0.0, 0.0, 6),
 (182, 1.51888, 14.99, 0.78, 1.74, 72.5, 0.0, 9.95, 0.0, 0.0, 6),
 (183, 1.51916, 14.15, 0.0, 2.09, 72.74, 0.0, 10.88, 0.0, 0.0, 6),
 (184, 1.51969, 14.56, 0.0, 0.56, 73.48, 0.0, 11.22, 0.0, 0.0, 6),
 (185, 1.51115, 17.38, 0.0, 0.34, 75.41, 0.0, 6.65, 0.0, 0.0, 6),
 (186, 1.51131, 13.69, 3.2, 1.81, 72.81, 1.76, 5.43, 1.19, 0.0, 7),
 (187, 1.51838, 14.32, 3.26, 2.22, 71.25, 1.46, 5.79, 1.63, 0.0, 7),
 (188, 1.52315, 13.44, 3.34, 1.23, 72.38, 0.6, 8.83, 0.0, 0.0, 7),
 (189, 1.52247, 14.86, 2.2, 2.06, 70.26, 0.76, 9.76, 0.0, 0.0, 7),
 (190, 1.52365, 15.79, 1.83, 1.31, 70.43, 0.31, 8.61, 1.68, 0.0, 7),
 (191, 1.51613, 13.88, 1.78, 1.79, 73.1, 0.0, 8.67, 0.76, 0.0, 7),
 (192, 1.51602, 14.85, 0.0, 2.38, 73.28, 0.0, 8.76, 0.64, 0.09, 7),
 (193, 1.51623, 14.2, 0.0, 2.79, 73.46, 0.04, 9.04, 0.4, 0.09, 7),
 (194, 1.51719, 14.75, 0.0, 2.0, 73.02, 0.0, 8.53, 1.59, 0.08, 7),
 (195, 1.51683, 14.56, 0.0, 1.98, 73.29, 0.0, 8.52, 1.57, 0.07, 7),
 (196, 1.51545, 14.14, 0.0, 2.68, 73.39, 0.08, 9.07, 0.61, 0.05, 7),
 (197, 1.51556, 13.87, 0.0, 2.54, 73.23, 0.14, 9.41, 0.81, 0.01, 7),
 (198, 1.51727, 14.7, 0.0, 2.34, 73.28, 0.0, 8.95, 0.66, 0.0, 7),
 (199, 1.51531, 14.38, 0.0, 2.66, 73.1, 0.04, 9.08, 0.64, 0.0, 7),
 (200, 1.51609, 15.01, 0.0, 2.51, 73.05, 0.05, 8.83, 0.53, 0.0, 7),
 (201, 1.51508, 15.15, 0.0, 2.25, 73.5, 0.0, 8.34, 0.63, 0.0, 7),
 (202, 1.51653, 11.95, 0.0, 1.19, 75.18, 2.7, 8.93, 0.0, 0.0, 7),
 (203, 1.51514, 14.85, 0.0, 2.42, 73.72, 0.0, 8.39, 0.56, 0.0, 7),
 (204, 1.51658, 14.8, 0.0, 1.99, 73.11, 0.0, 8.28, 1.71, 0.0, 7),
 (205, 1.51617, 14.95, 0.0, 2.27, 73.3, 0.0, 8.71, 0.67, 0.0, 7),
 (206, 1.51732, 14.95, 0.0, 1.8, 72.99, 0.0, 8.61, 1.55, 0.0, 7),
 (207, 1.51645, 14.94, 0.0, 1.87, 73.11, 0.0, 8.67, 1.38, 0.0, 7),
 (208, 1.51831, 14.39, 0.0, 1.82, 72.86, 1.41, 6.47, 2.88, 0.0, 7),
 (209, 1.5164, 14.37, 0.0, 2.74, 72.85, 0.0, 9.45, 0.54, 0.0, 7),
 (210, 1.51623, 14.14, 0.0, 2.88, 72.61, 0.08, 9.18, 1.06, 0.0, 7),
 (211, 1.51685, 14.92, 0.0, 1.99, 73.06, 0.0, 8.4, 1.59, 0.0, 7),
 (212, 1.52065, 14.36, 0.0, 2.02, 73.42, 0.0, 8.44, 1.64, 0.0, 7),
 (213, 1.51651, 14.38, 0.0, 1.94, 73.61, 0.0, 8.48, 1.57, 0.0, 7),
 (214, 1.51711, 14.23, 0.0, 2.08, 73.36, 0.0, 8.62, 1.67, 0.0, 7)]

In [44]:
#we can ever read the data using padas also>>

import pandas as pd

In [45]:
pd.read_sql('select * from pysqldb.glassdata', mydb1)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13136\861546700.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('select * from pysqldb.glassdata', mydb1)

     col1     col2   col3  col4  col5   col6  clo7  col8  col9  col10  col11
0       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00    0.0      1
1       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00    0.0      1
2       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00    0.0      1
3       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00    0.0      1
4       2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00    0.0      1
..    ...      ...    ...   ...   ...    ...   ...   ...   ...    ...    ...
212   210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06    0.0      7
213   211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59    0.0      7
214   212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64    0.0      7
215   213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57    0.0      7
216   214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67    0.0      7

[217 rows x 11 columns]

In [46]:
#to show all databases>>

In [47]:
pd.read_sql('show databases', mydb1)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13136\382322112.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('show databases', mydb1)

             Database
0              ds_sql
1  information_schema
2               mysql
3  performance_schema
4             pysqldb
5              sourav
6                 sys

In [48]:
with open('glass.data', 'r') as f:
    glass_data = csv.reader(f, delimiter = '\n')
    print(glass_data)

<_csv.reader object at 0x000002330C7EFB20>

In [ ]:
#  What does csv.reader(f, delimiter='\n') return?
# You're reading a CSV file where each line is a single row. Because your delimiter is \n, each row returned by csv.reader is actually a list with one string, like this:

# python
# Copy
# Edit
# i = ['1,2,3,4,5']
# So i[0] is the string '1,2,3,4,5'.

#  Why not use just i[0] directly in SQL?
# Lets look at this line:

# python
# Copy
# Edit
# cursor.execute(f"insert into pysqldb.glassdata values({str(i[0])})")
# If you wrote:

# python
# Copy
# Edit
# cursor.execute(f"insert into pysqldb.glassdata values({i[0]})")
# Then i[0] is still a string, like '1,2,3,4,5'.

# But here's the catch  inside an f-string, if i[0] is already a string, Python will not automatically wrap it in quotes unless you do it yourself.

# So this will generate a SQL string like:

# sql
# Copy
# Edit
# insert into pysqldb.glassdata values(1,2,3,4,5)
# Which is correct SQL only if those values are all numeric.

# But if i[0] contains even one string column like:

# python
# Copy
# Edit
# i[0] = "1,2,3,'Window',4"
# Then SQL will error out, because it needs quotes around strings properly  and your single big string might break SQL syntax if not formatted correctly.

#  So why use str(i[0])?
# Actually, in this case:

# python
# Copy
# Edit
# str(i[0]) == i[0]
# Because i[0] is already a string. So using str(i[0]) doesnt change the value, but might have been written:

# For clarity.

# Or mistakenly thinking it's needed.

# But this is not safe for real SQL inserts, because it doesnt escape or format the values correctly.

#  Better Way (Recommended)
# You should split the string into actual values, and use parameterized queries to avoid SQL injection or formatting issues:

# python
# Copy
# Edit
# import csv

# with open('glass.data', 'r') as f:
#     glass_data = csv.reader(f)
#     for row in glass_data:
#         values = row[0].split(',')  # Split the single string into a list
#         cursor.execute("INSERT INTO pysqldb.glassdata VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", values)
# Replace the number of ? with however many columns your table has.