In [3]:
pip install "pymongo[srv]==3.11"

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo==3.11 (from pymongo[srv]==3.11)
  Downloading pymongo-3.11.0.tar.gz (771 kB)
     ---------------------------------------- 0.0/771.7 kB ? eta -:--:--
     ------------------------- ------------ 524.3/771.7 kB 2.1 MB/s eta 0:00:01
     -------------------------------------- 771.7/771.7 kB 1.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting dnspython<2.0.0,>=1.16.0 (from pymongo[srv]==3.11)
  Downloading dnspython-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Downloading dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py): started
  Building wheel for pymongo (setup.py): finished with status 'done'
  Created wheel for pymongo: filename=pymongo-3.11.0-cp312-cp312-win_amd64.whl size=380159 sha256=3bf8422cb13d4ad458513bd550933ea269aef994dc3078a06a7b57179df4ca2d
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\48\88\89\88b1e7fa2c598b317d4b3db6c9e4a9041ab8634b3e1019a021
Successfully built pymongo
Installing collected packages: pymongo, dnspython
Successfully installed dnspython-1.16.0 pymongo-3.11.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
#this is connection string>>

In [8]:
#this is
uri = "mongodb+srv://sourav009966:DeogharBaba5@cluster0.aegxmg3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [9]:
uri

'mongodb+srv://sourav009966:DeogharBaba5@cluster0.aegxmg3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [10]:
import pymongo  #to use connection detail we have to import Pymongo

In [11]:
#this client will have all our connection details #this is  connection string

client = pymongo.MongoClient("mongodb+srv://sourav009966:DeogharBaba5@cluster0.aegxmg3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [12]:
client

MongoClient(host=['ac-isl4p5p-shard-00-01.aegxmg3.mongodb.net:27017', 'ac-isl4p5p-shard-00-00.aegxmg3.mongodb.net:27017', 'ac-isl4p5p-shard-00-02.aegxmg3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-13t79b-shard-0', ssl=True)

In [13]:
#1st step is to create a database>>


db = client["pwskills"]   # this is my  data base from client object

In [14]:
#this is collection inside databae

coll_create = db["my_record"]

In [17]:
#inside this collection we have to strore data

#this is data>>

data = {"name": "sourav",
        "class" : "data science masters",
        "timing": "flexi"
        }

In [18]:
#now to insert this data inside collection

coll_create.insert_one(data)

In [19]:
#to insert more than one record >>

In [20]:
data2 = {"list_course": ["data science masters", "web dev", "java with DSA"],
         "mentors": ['vishwa', 'ravi', 'arun']}

In [21]:
#to insert >>

In [22]:
coll_create.insert_one(data2)

In [23]:
 #morte the on insert

In [24]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

#now this is many record>>

#to insert many>>

In [25]:
coll_create.insert_many(data3)

In [26]:
#now we can see many records inside our my_recors >>

In [27]:
#import pymongo

In [28]:
#client = pymongo.MongoClient("mongodb+srv://sourav009966:DeogharBaba5@cluster0.aegxmg3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [32]:
list_of_records = [
    {'companyName': 'pw skills',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'pw skills',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'pw skills',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [33]:
coll_create.insert_many(list_of_records)

In [34]:
#now in mongoDB we can see all list of records inside collection>> pwskills>> my_record

In [36]:
#to see data here>>

for i in coll_create.find():  #it will find all the records inside record  # it is the list of all connection
    print(i)

{'_id': ObjectId('6893c01bdc35e0231b2ff8cb'), 'name': 'sourav', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('6893c349dc35e0231b2ff8cc'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentors': ['vishwa', 'ravi', 'arun']}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8cd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8ce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8cf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d8'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8da'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8db'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8dc'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [39]:
random_data = [
    {'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'},
]

In [40]:
coll_create.insert_many(random_data)

In [41]:
for i in coll_create.find():  #it will find all the records inside record  # it is the list of all connection
    print(i)

{'_id': ObjectId('6893c01bdc35e0231b2ff8cb'), 'name': 'sourav', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('6893c349dc35e0231b2ff8cc'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentors': ['vishwa', 'ravi', 'arun']}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8cd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8ce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8cf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d8'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8da'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8db'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8dc'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [42]:
coll_create.find_one()   #this will fetch 1st document  inside collection detail

{'_id': ObjectId('6893c01bdc35e0231b2ff8cb'),
 'name': 'sourav',
 'class': 'data science masters',
 'timing': 'flexi'}

In [46]:
#to find some specific record:>>

for i in coll_create.find({'companyName' : 'pw skills'}):  #here we have to give data in dictonary format
    print(i)

{'_id': ObjectId('6893c8b2dc35e0231b2ff8da'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8db'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8dc'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [49]:


for i in coll_create.find({'_id': {'$gte' : '4'}}):  #$gte >> inbuilt name in mongodb which mean greater equal to
    print(i)

{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [50]:
#to update>>

In [55]:

coll_create.update_many({'companyName': 'pw skills'}, {"$set": {'companyName': 'pw'}})  #in mongodb we use $set keyword to update

In [56]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6893c01bdc35e0231b2ff8cb'), 'name': 'sourav', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('6893c349dc35e0231b2ff8cc'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentors': ['vishwa', 'ravi', 'arun']}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8cd'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8ce'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8cf'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d0'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d1'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d2'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d3'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d4'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d5'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d6'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d7'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6893c4c0dc35e0231b2ff8d8'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8da'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8db'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6893c8b2dc35e0231b2ff8dc'), 'companyName': 'pw', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw', 'Faculty': 'PQR'}

In [58]:
coll_create.drop()

In [59]:
for i in coll_create.find():
    print(i)

In [60]:
#now even in mongodb we can see that there is no any record in the collection